<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet"></link>
</head>
<body>

<div>

    <form action="#" th:action="@{/login}" th:object="${user}"
          method="post">
        <p id="username">
            Username: <input class="input-group mb-3" id="centerInput" type="text"
                                       th:field="*{username}" />
        </p>

        <p id="password">
            Password: <input class="input-group mb-3" type="password"
                                       th:field="*{password}" />
        </p>
        <button>Submit</button>
    </form>
    <p th:text="${error}"></p>
</div>

</body>
</html>