<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link href="StylesLogin.css" rel="stylesheet">
</head>
<body>

<div class="login">

    <form action="#" th:action="@{/login}" th:object="${user}"
          method="post">
        <p id="username">
            Username: <input class="input-group mb-3" id="centerInput" type="text" required
                                       th:field="*{username}" />
        </p>

        <p id="password">
            Password: <input class="input-group mb-3" type="password" required
                                       th:field="*{password}" />
        </p>
        <button>Submit</button>
    </form>
    <p th:text="${error}"></p>
</div>

</body>
</html>