<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet"></link>
</head>
<body>

<div>
    <!--
    <form action="#" th:action="@{/pokemon}" th:object="${pokemon}"
          method="post">
        <p id="test">
            Enter Pokemon Name: <input class="input-group mb-3" id="centerInput" type="text"
                                       th:field="*{name}" />
        </p>

    </form>
    -->
</div>

</body>
</html>