<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="StylesUserView.css" rel="stylesheet">
    <title>Password Safe</title>
</head>
<body>
<div class="header">
    <h1>Welcome to your Password Safe</h1>
    <h3>in the list below you can add, edit or delete your records</h3>
</div>
<div class="main">
    <table id="customers">
        <thead>
        <tr>
            <th>Id</th>
            <th>Website</th>
            <th>Username</th>
            <th>Password</th>
            <th>Remarks</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${records.empty}">
            <td colspan="7"> No Records Available</td>
        </tr>
        <tr th:each="record : ${records}">
            <td><span th:text="${record.id}"> Id </span></td>
            <td><span th:text="${record.website}"> Website </span></td>
            <td><span th:text="${record.username}"> Username </span></td>
            <td><span th:text="${record.password}"> Password </span></td>
            <td><span th:text="${record.remark}"> Remark </span></td>
            <td><a th:href="@{/delete_user(record=${record.id})}" class="btn btn-danger">Delete</a></td>
            <td><a th:href="@{/edit(record=${record.id})}" class="btn btn-danger">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    <div class="addButton">
        <h1> Add new Record </h1>
        <form action="#" th:action="@{/addRecord}" th:object="${record}"
              method="post">
            <p id="website">
                Website: <input class="input-group mb-3" id="centerInput" type="text" required
                                th:field="*{website}"/>
            </p>

            <p id="username">
                Username: <input class="input-group mb-3" type="text" required
                                 th:field="*{username}"/>
            </p>
            <p id="password">
                Password: <input class="input-group mb-3" type="password"  minlength="8" required
                                 th:field="*{password}"/>
            </p>

            <p id="remark">
                Remark: <input class="input-group mb-3" type="text"
                               th:field="*{remark}"/>
            </p>
            <button>Submit</button>
        </form>
    </div>
</div>
</body>
</html>